/* line 1, static/scss/app/block.scss */
.block {
  border: 1px solid black;
  border-radius: 20px;
  margin-bottom: 20px; }
  /* line 6, static/scss/app/block.scss */
  .block .drag-and-drop {
    /* list-style-image:none; */
    position: relative; }
  /* line 11, static/scss/app/block.scss */
  .block .fields {
    position: relative;
    left: 30px;
    top: 10px; }
  /* line 18, static/scss/app/block.scss */
  .block .field {
    display: block;
    margin-bottom: 20px; }
  /* line 26, static/scss/app/block.scss */
  .block .active {
    position: relative;
    left: 95%;
    top: 10px; }
  /* line 32, static/scss/app/block.scss */
  .block .delete {
    position: relative;
    left: 95%;
    bottom: 10px; }
  /* line 40, static/scss/app/block.scss */
  .block .functions ul {
    list-style: none; }
  /* line 44, static/scss/app/block.scss */
  .block .functions li {
    display: inline-block; }
  /* line 48, static/scss/app/block.scss */
  .block .functions label {
    display: none; }
