/* line 3, static/scss/app/block.scss */
.block {
  width: 100%;
  background-color: white;
  padding: 10px;
  border-radius: 20px;
  margin-bottom: 20px; }
  /* line 16, static/scss/app/block.scss */
  .block .drag-and-drop {
    /* list-style-image:none; */
    position: relative; }
  /* line 21, static/scss/app/block.scss */
  .block .fields {
    position: relative;
    left: 30px;
    top: 10px; }
  /* line 28, static/scss/app/block.scss */
  .block .field {
    display: block;
    margin-bottom: 20px; }
  /* line 36, static/scss/app/block.scss */
  .block .active {
    position: relative;
    left: 95%;
    top: 10px; }
  /* line 42, static/scss/app/block.scss */
  .block .delete {
    position: absolute;
    right: 20px;
    bottom: 5px; }
  /* line 50, static/scss/app/block.scss */
  .block .functions ul {
    position: relative;
    left: 2%;
    width: 50%;
    list-style: none; }
  /* line 57, static/scss/app/block.scss */
  .block .functions li {
    display: inline-block;
    margin-right: 20px; }
    /* line 61, static/scss/app/block.scss */
    .block .functions li .function-icon {
      z-index: 2;
      width: 20px;
      height: 20px;
      fill: none; }
    /* line 68, static/scss/app/block.scss */
    .block .functions li .inactive {
      stroke: grey; }
    /* line 72, static/scss/app/block.scss */
    .block .functions li .in-progress {
      stroke: blue; }
    /* line 78, static/scss/app/block.scss */
    .block .functions li .active {
      stroke: green; }
  /* line 85, static/scss/app/block.scss */
  .block .functions label {
    display: none; }
