/* line 1, static/scss/app/home.scss */
body {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: red; }

/* line 10, static/scss/app/home.scss */
.app {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 70%;
  background-color: black; }

/* line 20, static/scss/app/home.scss */
.blocks {
  position: relative;
  top: 200px;
  left: 200px; }
