/* line 1, static/scss/app/home.scss */
body {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f3f3f1; }

/* line 10, static/scss/app/home.scss */
.body-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

/* line 18, static/scss/app/home.scss */
.app {
  position: relative;
  height: 100%;
  width: 70%;
  display: flex;
  justify-content: center; }

/* line 27, static/scss/app/home.scss */
.blocks {
  position: relative;
  top: 50px; }
